# Build and Release Folders
bin/
bin-debug/
bin-release/

# Other files and folders
.settings/

#Local WebStorm/Idea folder
.idea/*

# Project files, i.e. `.project`, `.actionScriptProperties` and `.flexProperties`
# should NOT be excluded as they contain compiler settings and other important
# information for Eclipse / Flash Builder.
/assets/artwork/BenOriginals
/scripts/temp.js
/temp.html
